html {
  width: calc(100% / 2);
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #000000;
  color: #f6ee31;
  font-family: "Actor", Times, serif;
  background-image: url("https://i.pinimg.com/originals/0d/5e/8d/0d5e8d37dab34ed79623c5f693849719.gif");
  background-repeat: repeat;
}
body {
  min-height: 90%;
  line-height: 1;
  background-color: #5920de;
  color: #f6ee31;
  font-family: "Actor", Times, serif;
}
a {
  text-decoration: underline;
  cursor: pointer;
  cursor: hand;
  color: #f6ee31;
  font-family: "Actor", Times, serif;
}
input[type=submit], button {
  cursor: pointer;
  cursor: hand;
  background-color: white;
  border-color: light grey;
  color: #f6ee31;
  font-family: "Actor", Times, serif;
}
@media(max-width: 900px) {
  html {
    font-size: 14px !important;
    width: 80% !important;
    color: #f6ee31;
    font-family: "Times New Roman", Times, serif;
  }
}
@media(max-width: 480px) {
  html {
    font-size: 12px !important;
    width: 90% !important;
    color: #f6ee31;
    font-family: "Times New Roman", Times, serif;
  }
}
@media(max-width: 320px) {
  html {
    font-size: 12px !important;
    width: 100% !important;
    color: #f6ee31;
    font-family: "Times New Roman", Times, serif;
  }
}
.scrollit {
  overflow:scroll;
  height:800px;
}
img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 5%;
}
.headerImg {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
h1 {
  font-size: 20px;
  font-size: 8vw;
  text-align: center;
}
p {
  font-size: 16px;
  font-size: 4vw;
  text-align: center;
}
a {
  font-size: 16px;
  font-size: 4vw;
  text-align: center;
}
video {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 5%;
}